/.CFUserTextEncoding
/.DS_Store
/.Trash
/.bash_history
/.bash_sessions
/.cache
/.config/gh/hosts.yml
/.gnupg
/.lesshst
/.local
/.profile
/.ssh
/.tea
/.vscode-server
/.wget-hsts
/.zsh_history
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/dev
/files
