/.CFUserTextEncoding
/.DS_Store
/.Trash
/.bash_history
/.bash_sessions
/.bun
/.cache
/.cocoapods
/.config/composer
/.config/gh/hosts.yml
/.config/github-copilot
/.config/iterm2
/.config/simple-update-notifier
/.docker
/.gnupg
/.lesshst
/.lldb
/.local
/.node_repl_history
/.npm
/.pkgx
/.pnpm-state
/.profile
/.ssh
/.swiftpm
/.tea
/.vscode-server
/.wget-hsts
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/PhpstormProjects
/Pictures
/Public
/dev
/files
/work
/work-commands.sh
